@(title: String)(currentPage: com.avaje.ebean.Page[User], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Users.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main(title) {
    
    <h1 id="homeTitle">@Messages("users.list.title", currentPage.getTotalRowCount)</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">
        
        <form action="@link(0, "email")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by user email...">
            <input type="submit" id="searchsubmit" value="Filter by email" class="btn primary">
        </form>
        
        <a class="btn success" id="add" href="@routes.Users.create()">Add a new user</a>
        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="users zebra-striped">
            <thead>
                <tr>
                    @header("email", "Email")
                    @header("fullname", "Fullname")
                    @header("dob", "Date of Birth")
                    @header("gender", "Gender")
                    @header("userGroup.title", "Group")
                </tr>
            </thead>
            <tbody>

                @for(user <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.Users.edit(user.id)">@user.email</a></td>
                        <td>
                            @if(user.fullname == null) {
                                <em>-</em>
                            } else {
                                @user.fullname
                            }
                        </td>
                        <td>
                            @if(user.dob == null) {
                                <em>-</em>
                            } else {
                                @user.dob.format("yyyy-MM-dd")
                            }
                        </td>
                        <td>
                            @if(user.gender == null) {
                                <em>-</em>
                            } else {
                                @user.gender
                            }
                        </td>
                        <td>
                            @if(user.userGroup == null) {
                                <em>-</em>
                            } else {
                                @user.userGroup.title
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}

            